[submodule "build"]
	path = build
	url = git://github.com/astonishdesign/sk-build.git
[submodule "deploy"]
	path = deploy
	url = git://github.com:astonishdesign/sk-deploy.git
[submodule "provision"]
	path = provision
	url = git://github.com:astonishdesign/sk-provision.git
